body {

   background-image:url("images (5).jpg");
   background-size:800px    ;
}

#form{
    text-align:center;
}

#loginButton{
    padding:2px;
    width:100px;
    height:20px;    
    background-color:green;
    font-style:italic;
    font-weight:bold;

}

#loginButton:hover {
    background-color: lightblue;
}

.label{
   font-weight:bold;
   font-size:20px;
}

.input{
    position:relative;
    background-color:lightblue;
    font-weight:bold;
    margin:2px;
    padding:1px;
}
    